.age-selection-container {
    text-align: center;
    padding: 20px;
  }
  
  .options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  button {
    
    background-color: #e91e63;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button.selected {
    background-color: #ff4081;
  }
  
  .next-button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #e91e63;
    color: white;
    border: none;
    cursor: pointer;
  }

  .age-next-button {
    background-color: #e91e63;
    color: white;
    border: none;
    cursor: pointer;
    padding: 17px;
  }
  
  .date-picker-container {
    margin: 20px auto;
  }
  
  .datepicker {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  
  