.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
  word-wrap: break-word;
  position: relative;
}

.sent {
  align-self: flex-end;
  background-color: #e9405710;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-left-radius: 25px;
  padding-bottom: 26px;
  color: #000000;
}

.sent p,
.received p {
  color: #000000;
  padding-left: 10px;
}
.received {
  align-self: flex-start;
  background-color: #fff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  /* border-bottom-left-radius: 25px; */
  padding-left: 20px;
  padding-right: 20px;
  color: #000000;
  padding-bottom: 26px;
}

.send-message {
  display: flex;
  padding: 7px;
  background-color: #f5f6f7;
  border-top: none;
  gap: 10px;
  
}

.send-message input {
  padding: 18px;
  border: none;
  border-radius: 18px;
  background: transparent;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: #00000090;
  font-weight: 600;
  word-wrap: break-word;
}

.send-message button {
  padding: 15px;
  background: transparent;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid #00000020;
}

.input-box-message input:focus {
  background: transparent !important;
  outline: none;
  word-wrap: break-word;
}

.send-message button:hover {
  background: transparent;
}

.input-box-message {
  flex: 1;
  border: 1px solid #00000020;
  border-radius: 16px;
  background: transparent;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  padding-left: 13px;
  padding-right: 13px;
}

.chat-header {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  background: #fff;
  border-bottom: none;
  justify-content: space-between;
}

.recipient-avatar {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.nameOlo {
  display: flex;
  align-items: center;
}

.recipient-name {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}

.chat-header-Name {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1px;
}

.recipient-location {
  color: #00000070;
}

.thrBackBTN {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  background-color: #fff;
}



.thrBackBTN:hover {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  background-color: #fff;
}

.timestamp {
  display: block;
  font-size: 0.8rem;
  

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid #00000014;
  padding-bottom: 6px;
  padding-top: 6px;
}
.timestamp .spann {
  width: 100%;  
  margin-top: 4px;
  color: #00000080;
  display: flex;
  align-items: center;
   justify-content: center;
   gap: 6px;
}
