.admin-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f6f7;
    padding-top: 5rem;

  }
  
  .admin-review h2 {
    margin-bottom: 20px;
    color: #e91e63;
  }
  
  .admin-review ul {
    list-style: none;
    padding: 0;
    width: 95%;
    border-radius: 35px;
  }
  
  .admin-review li {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 15px;
  
  }
  
  .admin-review button {
    margin-top: 10px;
    background-color: #e91e63;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    border: none;
    font-weight: 600;
    font-size: 17px;
  }

  .admin-review .reject {
    margin-top: 10px;
    background: transparent;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    border: 1.4px solid #e91e63;
    color: #e91e63;
  }
  
  .ulReview {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }